```
BEGIN ASSIGNMENT
init_cell: false
export_cell: false
check_all_cell: false
files:
    - data
    - figures
    - bootcamp_utils.py

requirements: ../../requirements.txt

generate:
    show_hidden: true
```

In [1]:
# This line sets up display options, imports, etc.
from bootcamp_utils import *

# Lab 1: Pandas and Data Cleaning

**Data Science Bootcamp with Python, Pandas, and Plotly**

Feb 21, 2023

**Agenda:**

- Introductions
- About the bootcamp
- Using pandas for data tables
- Data cleaning using pandas

## Welcome!

## About the Instructors: Sam Lau

<div class="ss">
<div>
        
- PhD student at UC San Diego
- Research: program viz, Pandas Tutor
- Teaching: 9+ years, about to become teaching professor at...
- Excited to meet you!
        
</div>
<div>
        
TODO: add pic
        
</div>
</div>

## About the Instructors: Joey Gonzalez

<div class="ss">
<div>
        
TODO: fill me in

</div>
<div>
        
TODO: add pic
        
</div>
</div>

## About the Instructors: Deb Nolan

<div class="ss">
<div>
        
TODO: fill me in

</div>
<div>
        
TODO: add pic
        
</div>
</div>

## About the Course

- 4 weeks long, 3 hours each session
- A mix of concepts (slides) and coding labs (Jupyter notebook)

## Following Along

- TODO: add instructions for students to follow along in notebook.
- Take notes directly in notebook

## DataFrames

### DataFrames in `pandas` üêº

- Tables in `pandas` are called "DataFrames."
- To use DataFrames, we'll need to import `pandas`. (We'll need `numpy` as well.)

In [2]:
import pandas as pd
import numpy as np

### Reading data from a file üìñ

- The file `nba-2022.csv` contains all salaries from the 2021-22 NBA (National Basketball Association üèÄ) season for players who have played at least 15 games.
    - CSV stands for "comma-separated values".
- We can read a CSV using `pd.read_csv(...)`. Give it the name of the file if it's in the same directory as your notebook, or a path to the file otherwise.

In [21]:
salaries = pd.read_csv('https://github.com/DS-100/textbook/blob/master/content/datasets/nba-2022.csv?raw=true')
salaries

                Player Position                Team    Salary
0         John Collins       PF       Atlanta Hawks  23000000
1     Danilo Gallinari       PF       Atlanta Hawks  20475000
2    Bogdan Bogdanoviƒá       SG       Atlanta Hawks  18000000
..                 ...      ...                 ...       ...
378          Raul Neto       PG  Washington Wizards   2089448
379     Daniel Gafford        C  Washington Wizards   1782621
380       Anthony Gill       PF  Washington Wizards   1517981

[381 rows x 4 columns]

### Structure of a DataFrame

- DataFrames have *columns* and *rows*.
    - Think of each column as an array.
- Each column has a label: `'Player'`, `'Position'`, etc.
    - This is its name.
    - Column labels are stored as strings.
- Every row has a label too.
    - Together, the row labels are called the _index_. The index is **not** a column!

#### Here's an example DataFrame of dog breeds:

<center>
<img src="http://www.textbook.ds100.org/_images/dog-labels.svg" width="50%" />
</center>

In [4]:
# This dataframe has 381 rows and 4 columns
salaries

                Player Position                Team    Salary
0         John Collins       PF       Atlanta Hawks  23000000
1     Danilo Gallinari       PF       Atlanta Hawks  20475000
2    Bogdan Bogdanoviƒá       SG       Atlanta Hawks  18000000
..                 ...      ...                 ...       ...
378          Raul Neto       PG  Washington Wizards   2089448
379     Daniel Gafford        C  Washington Wizards   1782621
380       Anthony Gill       PF  Washington Wizards   1517981

[381 rows x 4 columns]

### Setting a new index

- We can set a better index using `.set_index(column_name)`.
- Row labels should be unique identifiers.
    - Row labels = row names; ideally, each row has a different, descriptive name.
- ‚ö†Ô∏è Like most DataFrame methods, `.set_index` returns a new DataFrame; it does not modify the original DataFrame.

In [5]:
salaries_by_player = salaries.set_index('Player') # SOLUTION
salaries_by_player

                  Position                Team    Salary
Player
John Collins            PF       Atlanta Hawks  23000000
Danilo Gallinari        PF       Atlanta Hawks  20475000
Bogdan Bogdanoviƒá       SG       Atlanta Hawks  18000000
...                    ...                 ...       ...
Raul Neto               PG  Washington Wizards   2089448
Daniel Gafford           C  Washington Wizards   1782621
Anthony Gill            PF  Washington Wizards   1517981

[381 rows x 3 columns]

### Shape of a DataFrame

- `.shape` returns the number of rows and columns in a given DataFrame.
- Access each with `[]`:

In [6]:
salaries_by_player.shape # SOLUTION

(381, 3)

In [7]:
# Number of rows
salaries_by_player.shape[0] # SOLUTION

381

In [8]:
# Number of columns
salaries_by_player.shape[1] # SOLUTION

3

## Example 1: Salary per game

**Key concepts:** How do we slice values out of a dataframe?

### Finding per-game salaries

- We have each player's salary this season. An NBA regular season has 82 games in it.
- **Question:** How much money is each player getting paid per game?
- Workflow:
    - Get the column of salaries.
    - Divide each element by 82.
    - Add a new column to the DataFrame.

#### Step 1 ‚Äì Getting a column

- We can get a column from a DataFrame using `df[column_name]`.
- ‚ö†Ô∏è Column names are case sensitive!
- The result looks like a 1-column DataFrame, but is actually a *Series*.

In [9]:
salaries_by_player

                  Position                Team    Salary
Player
John Collins            PF       Atlanta Hawks  23000000
Danilo Gallinari        PF       Atlanta Hawks  20475000
Bogdan Bogdanoviƒá       SG       Atlanta Hawks  18000000
...                    ...                 ...       ...
Raul Neto               PG  Washington Wizards   2089448
Daniel Gafford           C  Washington Wizards   1782621
Anthony Gill            PF  Washington Wizards   1517981

[381 rows x 3 columns]

In [10]:
salaries_by_player['Salary'] # SOLUTION

Player
John Collins         23000000
Danilo Gallinari     20475000
Bogdan Bogdanoviƒá    18000000
                       ...
Raul Neto             2089448
Daniel Gafford        1782621
Anthony Gill          1517981
Name: Salary, Length: 381, dtype: int64

### Digression: Series

- A *Series* is like an array, but with an index.
- In particular, Series' support arithmetic.

In [11]:
salaries_by_player['Salary']

Player
John Collins         23000000
Danilo Gallinari     20475000
Bogdan Bogdanoviƒá    18000000
                       ...
Raul Neto             2089448
Daniel Gafford        1782621
Anthony Gill          1517981
Name: Salary, Length: 381, dtype: int64

#### Step 2 ‚Äì Dividing salaries by the number of games

- Just like with arrays, we can perform arithmetic operations on every element of a Series quite efficiently.

In [12]:
salaries_by_player['Salary'] / 82 # SOLUTION

Player
John Collins         280487.80
Danilo Gallinari     249695.12
Bogdan Bogdanoviƒá    219512.20
                       ...
Raul Neto             25481.07
Daniel Gafford        21739.28
Anthony Gill          18511.96
Name: Salary, Length: 381, dtype: float64

#### Step 3 ‚Äì Adding the per-game salaries to the DataFrame

- Use `.assign(Name_of_column=data_in_array)` to assign a Series (or array, or list) to a DataFrame.
- ‚ö†Ô∏è Don't put quotes around `Name_of_column`.
- Creates a new DataFrame! Must save to variable.

In [13]:
# BEGIN SOLUTION
salaries_by_player.assign(
    Salary_per_game=salaries_by_player['Salary'] / 82
)
# END SOLUTION

                  Position                Team    Salary  Salary_per_game
Player
John Collins            PF       Atlanta Hawks  23000000        280487.80
Danilo Gallinari        PF       Atlanta Hawks  20475000        249695.12
Bogdan Bogdanoviƒá       SG       Atlanta Hawks  18000000        219512.20
...                    ...                 ...       ...              ...
Raul Neto               PG  Washington Wizards   2089448         25481.07
Daniel Gafford           C  Washington Wizards   1782621         21739.28
Anthony Gill            PF  Washington Wizards   1517981         18511.96

[381 rows x 4 columns]

In [14]:
salaries_by_player

                  Position                Team    Salary
Player
John Collins            PF       Atlanta Hawks  23000000
Danilo Gallinari        PF       Atlanta Hawks  20475000
Bogdan Bogdanoviƒá       SG       Atlanta Hawks  18000000
...                    ...                 ...       ...
Raul Neto               PG  Washington Wizards   2089448
Daniel Gafford           C  Washington Wizards   1782621
Anthony Gill            PF  Washington Wizards   1517981

[381 rows x 3 columns]

In [15]:
# pg stands for "per game"
# BEGIN SOLUTION
salaries_pg = salaries_by_player.assign(
    Salary_per_game=salaries_by_player['Salary'] / 82
)
# END SOLUTION

In [16]:
salaries_pg

                  Position                Team    Salary  Salary_per_game
Player
John Collins            PF       Atlanta Hawks  23000000        280487.80
Danilo Gallinari        PF       Atlanta Hawks  20475000        249695.12
Bogdan Bogdanoviƒá       SG       Atlanta Hawks  18000000        219512.20
...                    ...                 ...       ...              ...
Raul Neto               PG  Washington Wizards   2089448         25481.07
Daniel Gafford           C  Washington Wizards   1782621         21739.28
Anthony Gill            PF  Washington Wizards   1517981         18511.96

[381 rows x 4 columns]

### Using pandas tutor

- Pandas Tutor is a tool Sam developed as part of his PhD!
- It draws diagrams to explain `pandas` code.
- Add `%%pt` to the top of the cell to explain the last line of code.
  - Can also use website: https://pandastutor.com/
- Main downside: only works for relatively small dataframes.

In [17]:
%%pt

# BEGIN SOLUTION
salaries_pg = salaries_by_player.assign(
    Salary_per_game=salaries_by_player['Salary'] / 82
)
# END SOLUTION

UsageError: Cell magic `%%pt` not found.

## Example 2: Getting a particular player's salary

**Key concept**: How do we use `.loc[]` for slicing?

### How much is LeBron James making this season?

In [ ]:
# This is a Series!
salaries_pg['Salary']

### Accessing values by row label: `.loc`

- Use `.loc[]` to *access* the element of a DataFrame with a particular row and column label.

Syntax:

```
df.loc[row, column]
```

In [ ]:
salaries_pg.loc['LeBron James', 'Salary'] # SOLUTION

### Example: What position does LeBron play?

In [ ]:
salaries_pg.loc['LeBron James', 'Position'] # SOLUTION

### Slicing by label: `.loc`

We can pass in multiple rows and columns to `.loc[]`:

In [ ]:
salaries_pg.loc[['LeBron James', 'Stephen Curry'], ['Team', 'Salary']] # SOLUTION

### Slicing by column label: `.loc`

`df.loc[:, 'Salary']` is (almost) equivalent to `df['Salary']`.

The `:` argument says "slice all the rows".

In [ ]:
salaries_pg.loc[:, 'Salary'] # SOLUTION

In [ ]:
salaries_pg['Salary'] # SOLUTION

## Example 3: Salary analysis

**Key concept**: How do we compute statistics of columns?

### Questions about salary

- What is the highest/lowest salary? What is the average salary?
- Series' have helpful methods, like `.min()`, `.max()`, `.mean()`, etc.

In [ ]:
salaries_pg['Salary'].min()

In [ ]:
salaries_pg['Salary'].max()

In [ ]:
salaries_pg['Salary'].mean()

In [ ]:
salaries_pg['Salary'].median()

## Example 4: *Who* has the highest salary?

**Key concept**: Sorting.

#### Step 1 ‚Äì Sorting the DataFrame

- Use the `.sort_values(by=column_name)` method to sort.
    - **Notice:** Like most DataFrame methods, this returns a new DataFrame.
- Everything works as expected, but we wanted *descending* order.

In [ ]:
salaries_pg.sort_values(by='Salary') # SOLUTION

#### Step 1 ‚Äì Sorting the DataFrame in *descending* order

- Use `.sort_values(by=column_name, ascending=False)` to sort in *descending* order.

In [ ]:
highest_salaries = salaries_pg.sort_values(by='Salary', ascending=False) # SOLUTION
highest_salaries

#### Step 2 ‚Äì Getting the *name* of the person with the highest salary

- We saw that it's Stephen Curry, but how do we get the name using code?
- Remember, the index is like an array.

In [ ]:
highest_salaries.index[0] # SOLUTION

## Example 5: What team does the person with the third-lowest salary play for?

**Key concept**: Using integer positions.

#### Slicing using positions: `.iloc[]`

- We want to sort the dataframe, then take the third row.
- `.iloc[row_position, column_position]` lets us select out values by position.

In [ ]:
%%pt

lowest_salaries.iloc[2, 1] # SOLUTION

#### Aside: Using `.loc` and `.iloc` on Series

- `.loc` and `.iloc` also work on Series...
- ...but since Series only have rows (not columns), pass in one argument.

In [ ]:
lowest_salaries['Team'].iloc[2] # SOLUTION

### Summary of Slicing

- There are three ways to get values out of a DataFrame:
    - `.loc[]` uses row and column labels.
    - `.iloc[]` uses row and column positions.
    - `[]` is a shorthand, but it behaves differently depending on what you pass it.

In [ ]:
# Same as salaries.loc[:, 'Team']
salaries['Team']

In [ ]:
# Same as salaries.iloc[0:4, :]
salaries[0:4]

## Your Turn

Answer the following questions using `pandas`!

### Q: What is the highest salary?

In [ ]:
salaries_pg['Salary'].max() # SOLUTION

### Q: How many players are there in the dataset?

In [ ]:
salaries_pg.shape[0] # SOLUTION

### Q: What is LeBron James' salary per game?

In [ ]:
salaries_pg['Salary_per_game'].loc['LeBron James'] # SOLUTION

### Q: Who has the second highest salary?

In [ ]:
salaries_pg.sort_values(by='Salary', ascending=False).index[1] # SOLUTION

### Questions we can't yet answer:

- Who is the highest paid center (C)?
- How many players make over \$200,000 per game?
- What is the total payroll of the Cleveland Cavaliers?

The common thread between these questions is that they all involve *filtering* rows out of our DataFrame.

## Example 6: Who is the highest paid center (C)?

**Key concept**: Selecting rows (via Boolean indexing).

### Selecting rows

- We can determine who the highest paid center (C) is if we have a DataFrame consisting of only centers.
- How do we get that DataFrame?

### The solution

In [ ]:
%%pt

salaries_pg[salaries_pg['Position'] == 'C'] # SOLUTION

In [ ]:
'PG' == 'C' # SOLUTION

In [ ]:
%%pt

salaries_pg['Position'] == 'C' # SOLUTION

### Boolean indexing

To select only some rows of `salaries_pg`:

1. Make a sequence (list/array/Series) of `True`s (keep) and `False`s (toss).
    - The values `True` and `False` are of the _Boolean_ data type.
    
2. Then pass it into `salaries_pg[sequence_goes_here]`.

Rather than making the sequence by hand, we usually generate it by making a comparison.

### Elementwise comparisions work as expected

In [ ]:
%%pt

salaries_pg['Salary_per_game'] > 200000 # SOLUTION

### How do we make a DataFrame with only the players who make over \$200,000 per game?

In [ ]:
salaries_pg[salaries_pg['Salary_per_game'] > 200000] # SOLUTION

In [ ]:
salaries_pg[salaries_pg['Salary_per_game'] > 200000] 
# is a shorthand for:
salaries_pg.loc[salaries_pg['Salary_per_game'] > 200000, :] # SOLUTION

### How do we make a DataFrame with only the players on the Cleveland Cavaliers?

In [ ]:
salaries_pg[salaries_pg['Team'] == 'Cleveland Cavaliers'] # SOLUTION

### Original Question: How do we determine who the highest paid center is?

Strategy:
1. Extract a DataFrame of just the centers.
2. Sort by salary.
3. Return the first element in the index.

In [ ]:
# BEGIN SOLUTION
centers = salaries_pg[salaries_pg['Position'] == 'C']
highest_paid_center = centers.sort_values(by='Salary', ascending=False).index[0]
highest_paid_center
# END SOLUTION

### What if the condition isn't satisfied?

In [ ]:
salaries_pg[salaries_pg['Team'] == 'OReilly!']

## Your Turn

Answer the following questions using `pandas`!

### Q: What position has a higher max salary: point guards (PG)? Or centers (C)?

In [ ]:
salaries_pg[salaries_pg['Position'] == 'PG']['Salary'].max() # SOLUTION

In [ ]:
salaries_pg[salaries_pg['Position'] == 'C']['Salary'].max() # SOLUTION

### Q: How much did the Golden State Warriors pay their players in total?

In [ ]:
salaries_pg[salaries_pg['Team'] == 'Golden State Warriors']['Salary'].sum()

## Multiple conditions

- To do a query with multiple conditions, use `&` for "and" and `|` for "or".
- **Must use parentheses around each query.**
- Note: Don't use the Python keywords `and` and `or` here! They do not behave as you'd want.
    - Read the course notes for an explanation.

In [ ]:
# Find all players who are guards (point guards or shooting guards)
salaries[(salaries['Position'] == 'PG') | (salaries['Position'] == 'SG')] # SOLUTION

In [ ]:
# Find all the shooting guards for the Lakers
salaries[(salaries['Position'] == 'SG') &
         (salaries['Team'] == 'Los Angeles Lakers')] # SOLUTION

## Aggregating data

Let's turn now to a different dataset: dogs!

In [20]:
dogs = pd.read_csv('https://github.com/DS-100/textbook/blob/master/content/datasets/dogs43.csv?raw=true') # SOLUTION
dogs

,breed,kind,lifetime_cost,longevity,size,weight,height
0,Brittany,sporting,22589.0,12.92,medium,35.0,19.0
1,Cairn Terrier,terrier,21992.0,13.84,small,14.0,10.0
2,English Cocker Spaniel,sporting,18993.0,11.66,medium,30.0,16.0
...,...,...,...,...,...,...,...
40,Bullmastiff,working,13936.0,7.57,large,115.0,25.5
41,Mastiff,working,13581.0,6.50,large,175.0,30.0
42,Saint Bernard,working,20022.0,7.78,large,155.0,26.5

### Taking means for each group

- We know we can find the mean cost for all the dog breeds using `.mean()`:

In [ ]:
dogs['lifetime_cost'].mean() # SOLUTION

But what about the means for small vs. medium vs. large dogs?

In [ ]:
dogs.groupby('size')['lifetime_cost'].mean() # SOLUTION

### Using `.groupby()`

- `.groupby(column)` split the table into groups.
- Then, call aggregation function (e.g. `.mean()`, `.median()`, `.max()`, `.count()` to aggregate once for each group.

In [ ]:
# Smaller table so it's easier to visualize
dogs_small = dogs.head(5)
dogs_small

In [ ]:
%%pt
dogs_small.groupby('size').mean() # SOLUTION

### Observation #1

- The index has changed to dog sizes.
- In general, the new row labels are the *group labels* (the value used to determine if two rows were in same group).

In [ ]:
dogs.groupby('size').mean()

### Observation #2

- Some columns have disappeared. Why?

In [ ]:
dogs.groupby('size').mean()

### Disappearing columns ‚ú®üêáüé©  

- The aggregation method is applied to each column.
- If it doesn't make sense to apply it to a particular column, that column will disappear.
- Example: We can't sum strings, like in the `'breed'` column.
- Surprising example: we *can* `max()` strings. How?

In [ ]:
# Careful with max() and min()!
dogs.groupby('size').max()

In [ ]:
dogs[dogs['breed'] == 'Saint Bernard']