In [104]:
# This line sets up display options, imports, etc.
from bootcamp_utils import *
%reload_ext pandas_tutor
%set_pandas_tutor_options {'projectorMode': True}

# Lab 1: Pandas and Data Cleaning

**Data Science Bootcamp with Python, Pandas, and Plotly**

Feb 21, 2023

**Agenda:**

- Introductions
- About the bootcamp
- Using pandas for data tables
- Data cleaning using pandas

## Welcome!

## About the Instructors: Sam Lau

<div class="ss">
<div>
        
- PhD student at UC San Diego
- Research: program viz, Pandas Tutor
- Teaching: 9+ years, about to become teaching professor at...
- Excited to meet you!
        
</div>
<div>
        
TODO: add pic
        
</div>
</div>

## About the Instructors: Joey Gonzalez

<div class="ss">
<div>
        
TODO: fill me in

</div>
<div>
        
TODO: add pic
        
</div>
</div>

## About the Instructors: Deb Nolan

<div class="ss">
<div>
        
TODO: fill me in

</div>
<div>
        
TODO: add pic
        
</div>
</div>

## About the Course

- 4 weeks long, 3 hours each session
- A mix of concepts (slides) and coding labs (Jupyter notebook)

## Following Along

- TODO: add instructions for students to follow along in notebook.
- Take notes directly in notebook

## DataFrames

### DataFrames in `pandas` üêº

- Tables in `pandas` are called "DataFrames."
- To use DataFrames, we'll need to import `pandas`. (We'll need `numpy` as well.)

In [105]:
import pandas as pd
import numpy as np

### Reading data from a file üìñ

- The file `nba-2022.csv` contains all salaries from the 2021-22 NBA (National Basketball Association üèÄ) season for players who have played at least 15 games.
    - CSV stands for "comma-separated values".
- We can read a CSV using `pd.read_csv(...)`. Give it the name of the file if it's in the same directory as your notebook, or a path to the file otherwise.

In [106]:
salaries = ...
salaries

### Structure of a DataFrame

- DataFrames have *columns* and *rows*.
    - Think of each column as an array.
- Each column has a label: `'Player'`, `'Position'`, etc.
    - This is its name.
    - Column labels are stored as strings.
- Every row has a label too.
    - Together, the row labels are called the _index_. The index is **not** a column!

#### Here's an example DataFrame of dog breeds:

<center>
<img src="http://www.textbook.ds100.org/_images/dog-labels.svg" width="50%" />
</center>

In [107]:
# This dataframe has 381 rows and 4 columns
salaries

### Setting a new index

- We can set a better index using `.set_index(column_name)`.
- Row labels should be unique identifiers.
    - Row labels = row names; ideally, each row has a different, descriptive name.
- ‚ö†Ô∏è Like most DataFrame methods, `.set_index` returns a new DataFrame; it does not modify the original DataFrame.

In [108]:
salaries_by_player = ...
salaries_by_player

### Shape of a DataFrame

- `.shape` returns the number of rows and columns in a given DataFrame.
- Access each with `[]`:

In [109]:
...

In [110]:
# Number of rows
...

In [111]:
# Number of columns
...

## Example 1: Salary per game

**Key concepts:** How do we slice values out of a dataframe?

### Finding per-game salaries

- We have each player's salary this season. An NBA regular season has 82 games in it.
- **Question:** How much money is each player getting paid per game?
- Workflow:
    - Get the column of salaries.
    - Divide each element by 82.
    - Add a new column to the DataFrame.

#### Step 1 ‚Äì Getting a column

- We can get a column from a DataFrame using `df[column_name]`.
- ‚ö†Ô∏è Column names are case sensitive!
- The result looks like a 1-column DataFrame, but is actually a *Series*.

In [112]:
salaries_by_player

In [113]:
...

### Digression: Series

- A *Series* is like an array, but with an index.
- In particular, Series' support arithmetic.

In [114]:
salaries_by_player['Salary']

#### Step 2 ‚Äì Dividing salaries by the number of games

- Just like with arrays, we can perform arithmetic operations on every element of a Series quite efficiently.

In [115]:
...

#### Step 3 ‚Äì Adding the per-game salaries to the DataFrame

- Use `.assign(Name_of_column=data_in_array)` to assign a Series (or array, or list) to a DataFrame.
- ‚ö†Ô∏è Don't put quotes around `Name_of_column`.
- Creates a new DataFrame! Must save to variable.

In [116]:
...

In [117]:
salaries_by_player

In [118]:
# pg stands for "per game"
...

In [119]:
salaries_pg

### Using pandas tutor

- Pandas Tutor is a tool Sam developed as part of his PhD!
- It draws diagrams to explain `pandas` code.
- Add `%%pt` to the top of the cell to explain the last line of code.
  - Can also use website: https://pandastutor.com/
- Main downside: only works for relatively small dataframes.

In [120]:
%%pt

...

## Example 2: Getting a particular player's salary

**Key concept**: How do we use `.loc[]` for slicing?

### How much is LeBron James making this season?

In [121]:
# This is a Series!
salaries_pg['Salary']

### Accessing values by row label: `.loc`

- Use `.loc[]` to *access* the element of a DataFrame with a particular row and column label.

Syntax:

```
df.loc[row, column]
```

In [122]:
...

### Example: What position does LeBron play?

In [123]:
...

### Slicing by label: `.loc`

We can pass in multiple rows and columns to `.loc[]`:

In [124]:
...

### Slicing by column label: `.loc`

`df.loc[:, 'Salary']` is (almost) equivalent to `df['Salary']`.

The `:` argument says "slice all the rows".

In [125]:
...

In [126]:
...

## Example 3: Salary analysis

**Key concept**: How do we compute statistics of columns?

### Questions about salary

- What is the highest/lowest salary? What is the average salary?
- Series' have helpful methods, like `.min()`, `.max()`, `.mean()`, etc.

In [127]:
salaries_pg['Salary'].min()

In [128]:
salaries_pg['Salary'].max()

In [129]:
salaries_pg['Salary'].mean()

In [130]:
salaries_pg['Salary'].median()

## Example 4: *Who* has the highest salary?

**Key concept**: Sorting.

#### Step 1 ‚Äì Sorting the DataFrame

- Use the `.sort_values(by=column_name)` method to sort.
    - **Notice:** Like most DataFrame methods, this returns a new DataFrame.
- Everything works as expected, but we wanted *descending* order.

In [131]:
...

#### Step 1 ‚Äì Sorting the DataFrame in *descending* order

- Use `.sort_values(by=column_name, ascending=False)` to sort in *descending* order.

In [132]:
highest_salaries = ...
highest_salaries

#### Step 2 ‚Äì Getting the *name* of the person with the highest salary

- We saw that it's Stephen Curry, but how do we get the name using code?
- Remember, the index is like an array.

In [133]:
...

## Example 5: What team does the person with the third-lowest salary play for?

**Key concept**: Using integer positions.

#### Slicing using positions: `.iloc[]`

- We want to sort the dataframe, then take the third row.
- `.iloc[row_position, column_position]` lets us select out values by position.

In [134]:
%%pt

...

#### Aside: Using `.loc` and `.iloc` on Series

- `.loc` and `.iloc` also work on Series...
- ...but since Series only have rows (not columns), pass in one argument.

In [135]:
...

### Summary of Slicing

- There are three ways to get values out of a DataFrame:
    - `.loc[]` uses row and column labels.
    - `.iloc[]` uses row and column positions.
    - `[]` is a shorthand, but it behaves differently depending on what you pass it.

In [136]:
# Same as salaries.loc[:, 'Team']
salaries['Team']

In [137]:
# Same as salaries.iloc[0:4, :]
salaries[0:4]

## Your Turn

Answer the following questions using `pandas`!

### Q: What is the highest salary?

In [138]:
...

### Q: How many players are there in the dataset?

In [139]:
...

### Q: What is LeBron James' salary per game?

In [140]:
...

### Q: Who has the second highest salary?

In [141]:
...

### Questions we can't yet answer:

- Who is the highest paid center (C)?
- How many players make over \$200,000 per game?
- What is the total payroll of the Cleveland Cavaliers?

The common thread between these questions is that they all involve *filtering* rows out of our DataFrame.

## Example 6: Who is the highest paid center (C)?

**Key concept**: Selecting rows (via Boolean indexing).

### Selecting rows

- We can determine who the highest paid center (C) is if we have a DataFrame consisting of only centers.
- How do we get that DataFrame?

### The solution

In [142]:
%%pt

...

In [143]:
...

In [144]:
%%pt

...

### Boolean indexing

To select only some rows of `salaries_pg`:

1. Make a sequence (list/array/Series) of `True`s (keep) and `False`s (toss).
    - The values `True` and `False` are of the _Boolean_ data type.
    
2. Then pass it into `salaries_pg[sequence_goes_here]`.

Rather than making the sequence by hand, we usually generate it by making a comparison.

### Elementwise comparisions work as expected

In [145]:
%%pt

...

### How do we make a DataFrame with only the players who make over \$200,000 per game?

In [146]:
...

In [146]:
salaries_pg[salaries_pg['Salary_per_game'] > 200000] 
# is a shorthand for:
...

### How do we make a DataFrame with only the players on the Cleveland Cavaliers?

In [147]:
...

### Original Question: How do we determine who the highest paid center is?

Strategy:
1. Extract a DataFrame of just the centers.
2. Sort by salary.
3. Return the first element in the index.

In [148]:
...

### What if the condition isn't satisfied?

In [149]:
salaries_pg[salaries_pg['Team'] == 'OReilly!']

## Your Turn

Answer the following questions using `pandas`!

### Q: What position has a higher max salary: point guards (PG)? Or centers (C)?

In [150]:
...

In [151]:
...

### Q: How much did the Golden State Warriors pay their players in total?

In [153]:
salaries_pg[salaries_pg['Team'] == 'Golden State Warriors']['Salary'].sum()

## Multiple conditions

- To do a query with multiple conditions, use `&` for "and" and `|` for "or".
- **Must use parentheses around each query.**
- Note: Don't use the Python keywords `and` and `or` here! They do not behave as you'd want.
    - Read the course notes for an explanation.

In [154]:
# Find all players who are guards (point guards or shooting guards)
...

In [157]:
# Find all the shooting guards for the Lakers
salaries[(salaries['Position'] == 'SG') &
         ...

## Aggregating data

Let's turn now to a different dataset: dogs!

In [191]:
dogs = ...
dogs

### Taking means for each group

- We know we can find the mean cost for all the dog breeds using `.mean()`:

In [192]:
...

But what about the means for small vs. medium vs. large dogs?

In [193]:
...

### Using `.groupby()`

- `.groupby(column)` split the table into groups.
- Then, call aggregation function (e.g. `.mean()`, `.median()`, `.max()`, `.count()` to aggregate once for each group.

In [194]:
# Smaller table so it's easier to visualize
dogs_small = dogs.head(5)
dogs_small

In [195]:
%%pt
...

### Observation #1

- The index has changed to dog sizes.
- In general, the new row labels are the *group labels* (the value used to determine if two rows were in same group).

In [196]:
dogs.groupby('size').mean()

### Observation #2

- Some columns have disappeared. Why?

In [197]:
dogs.groupby('size').mean()

### Disappearing columns ‚ú®üêáüé©  

- The aggregation method is applied to each column.
- If it doesn't make sense to apply it to a particular column, that column will disappear.
- Example: We can't sum strings, like in the `'breed'` column.
- Surprising example: we *can* `max()` strings. How?

In [199]:
# Careful with max() and min()!
dogs.groupby('size').max()

In [200]:
dogs[dogs['breed'] == 'Saint Bernard']